
body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    font-family: Arial, sans-serif;

    background: linear-gradient(90deg, #020024, #090979, #00d4ff);
    color: white;
    
}