
body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: space-between; /* horizontal */
    align-items: center;     /* vertical */
    flex-direction: column;

    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}

header{
    color: black;
}

.login{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.footer{
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    background-color: black;
    height: 10vh;
    width: 100%;
}

.btn-login{
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo{
    width: 200px;
}